
# ====== axum ======

APP_HOST=0.0.0.0
APP_PORT=3000

REQUEST_TIMEOUT=10
# 開發時讀取 docker run 起來的資料庫時用
# DATABASE_URL=postgresql://kawa:kawa@host.docker.internal:5432/kawa

# docker build 成 image 後在 docker-compose 中 run 起來後讀取資料庫時使用
DB_MAX_CONNECTIONS=20
DATABASE_URL=postgresql://kawa:kawa@pgsql:5432/kawa

# ====== pgsql ======
HOST_DIR=~/pgsqldata
POSTGRES_PORT=5432
POSTGRES_DB=kawa
POSTGRES_USER=kawa
POSTGRES_PASSWORD=kawa

# Redis/Valkey 配置
VALKEY_PORT=6379
# VALKEY_URL=redis://valkey:6379 # 使用 docker-compose 建立起來時使用
VALKEY_URL=redis://host.docker.internal:6379 # 本機開發用
# 如果有密碼：
# VALKEY_URL=redis://:yourpassword@valkey:6379
