services:
  # axum-app:
  #   image: kawagami77/axum-app:latest
  #   container_name: axum-app
  #   environment:
  #     - TZ=Asia/Taipei
  #   ports:
  #     - "3000:3000"
  #   working_dir: /app
  #   volumes:
  #     - ./migrations:/app/migrations
  #     - ./.env:/app/.env
  #   depends_on:
  #     pgsql:
  #       condition: service_healthy
  #     valkey:
  #       condition: service_healthy

  pgsql:
    image: postgres:17-alpine
    container_name: pgsql
    # volumes:
    #   - ${HOST_DIR}:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "kawa", "-U", "kawa"]
      interval: 1s
      timeout: 10s
      retries: 5
      start_period: 80s

  # 新增 Valkey 服務
  valkey:
    image: valkey/valkey:9-alpine
    container_name: valkey
    ports:
      - ${VALKEY_PORT}:6379
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    # 如果你想讓它以密碼啟動，可以使用以下 command
    # command: valkey-server --requirepass yourpassword

  sqlx-cli:
    restart: "no"
    image: kawagami77/rust-sqlx-cli:latest
    command: sqlx migrate run
    working_dir: /app
    container_name: sqlx-cli
    user: "${UID:-1000}:${GID:-1000}"
    volumes:
      - .env:/app/.env
      - ./migrations:/app/migrations
    depends_on:
      pgsql:
        condition: service_healthy
