services:
  # axum-app:
  #   image: kawagami77/axum-app:latest
  #   container_name: axum-app
  #   environment:
  #     - TZ=Asia/Taipei
  #   ports:
  #     - "3000:3000"
  #   working_dir: /app
  #   volumes:
  #     - ./migrations:/app/migrations
  #     - ./.env:/app/.env
  #   depends_on:
  #     pgsql:
  #       condition: service_healthy
  pgsql:
    image: postgres:17-alpine
    container_name: pgsql
    # volumes:
    #   - ${HOST_DIR}:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT}:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "kawa", "-U", "kawa"]
      interval: 1s
      timeout: 10s
      retries: 5
      start_period: 80s
